.captured-img {
    margin-top: 15vh;
}

.capture-page-prev-arrow {
    position: absolute;
    top: 8px;
    left: 6vw;
}

.capture-page-x {
    position: absolute;
    top: 8px;
    right: 6vw;
    z-index: 10;
}

.ios-capture-record{
    position:fixed;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden; 
}

.capture-img-record {
    border-radius: 18px 18px 0px 0px;
    background: #FFFFFF;
    z-index: 100;
    width: 100%;
    padding-bottom: 30px;
    font-family: 'Spoqa Han Sans Neo';
    

    &-header {
        font-size: 18px;
        font-weight: 700;
    }

    &-body::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }

    &-body {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-y:scroll;
        overflow-x:hidden;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        /* Firefox */
        &-walk,
        &-cafe,
        &-restaurant,
        &-hospital,
        &-beauty,
        &-bath,
        &-etc {
            border-radius: 133.648px;
            margin-right: 15px;

            &-label {
                font-weight: 500;
                font-size: 18px;
                color: #232323;
            }

            &-count {
                font-weight: 700;
                font-size: 16px;
                text-align: center;
            }
            &-img {
                border: 2px solid white;
                border-radius: 100%;
                background-color: white;
            }
        }

        &-walk {
            &-count {
                color: #4A8C48;
            }
            &-img-active {
                border: 2px solid #4a8c48;
                border-radius: 100%;
                background-color: #4a8c48;
            }
        }

        &-cafe {
            &-count {
                color: #8E6947;
            }
            &-img-active {
                border: 2px solid #8E6947;
                border-radius: 100%;
                background-color: #8E6947;
            }
        }

        &-restaurant {
            &-count {
                color: #AD912B;
            }
            &-img-active {
                border: 2px solid #AD912B;
                border-radius: 100%;
                background-color: #AD912B;
            }
        }

        &-hospital {
            &-count {
                color: #8269CB;
            }
            &-img-active {
                border: 2px solid #8269CB;
                border-radius: 100%;
                background-color: #8269CB;
            }
        }

        &-beauty {
            &-count {
                color: #B4588F;
            }
            &-img-active {
                border: 2px solid #B4588F;
                border-radius: 100%;
                background-color: #B4588F;
            }
        }

        &-bath {
            &-count {
                color: #328995;
            }
            &-img-active {
                border: 2px solid #328995;
                border-radius: 100%;
                background-color: #328995;
            }
        }

        &-etc {
            &-count {
                color: #000000;
            }
            &-img-active {
                border: 2px solid #000000;
                border-radius: 100%;
                background-color: #000000;
            }
        }
    }
}