@import './CapturePage.scss';

.capture-certification-img{
    position: relative;
    z-index: -1;
}
.review-container {
  position: relative;
  .review-place-title {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
  }
  .review-place-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    &-title {
      color: #232323;
      font-size: 16px;
      font-weight: 500;
    }
    &-address {
      color: #8a8a8a;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .review-place-address {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 400;
  }
  .review-content {
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    width: 100%;
    height: 222px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    resize: none;
    &::placeholder {
      color: #8a8a8a;
    }
    &-length {
      color: #8a8a8a;
      font-weight: 400;
      position: absolute;
      bottom: 12px;
      right: 5%;
    }
  }
  .review-content::placeholder {
    color: #8a8a8a;
  }
}

.writting-button {
  width: 90vw;
  margin: auto;
  height: 56px;
  background-color: #c4c4c4;
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 40px;
}

.writting-button-active {
  width: 90vw;
  height: 56px;
  margin: auto;
  background-color: #3f3f3f;
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 40px;
}

textarea:focus,
input:focus {
  outline: none;
}
