@import "./UploadPage.scss";

.capture-category-update-page-prev-arrow {
    position: absolute;
    top: 8px;
    right: 6vw;
}

.bottom-sheet-container {
    position: 'fixed';
    bottom: 0;
}


textarea:focus,
input:focus {
    outline: none;
}