.border-line{
    height: 4px;
    background-color: #F2F2F2;
}
.certificationPostsPage{
    padding-top: 68px;
    &-header{
        position: fixed;
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 50px;
        padding-top: 50px;
        top:0;
        img{
          position: absolute;
          left: 22px;
        }
        &-text{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);      
          font-weight: 500;
          font-size: 18px;
        }
      }
}

.other-dog-history{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 50px;
    position: relative;
}

.post-img-result {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        margin: 50px 5% 10px 5%;

        &-profile {
                display: flex;
        
                &-img {
                    width: 39px;
                    height: 39px;
                    border-radius: 2px;
                }
        
                &-date {
                    color: #8A8A8A;
                    font-weight: 500;
                    font-size: 12px;
                    margin: 0 0 3px 15px;
                }
        
                &-name {
                    color: #3F3F3F;
                    font-weight: 700;
                    font-size: 14px;
                    margin-left: 15px;
                }
        }

        &-report{
            display: flex;
            margin-top: 15px;
            font-weight: 400;
            font-size: 14px;
            color: #8A8A8A;
            // background-color: red;
        }

        &-correction {
            color: #8A8A8A;
        }

    }

    &-main {
        margin: 0 5%;
        &-img{
            width: 100%;
            border-radius: 4px;
        }
        &-header {
            display: flex;
            margin: 15px 0;
            padding-bottom: 15px;
            border-bottom: 1px solid #E5E5E5;
            justify-content: space-between;
            &-place{
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-name {
                    color: #232323;
                    font-weight: 700;
                    font-size: 20px;
                }

                &-address {
                    color: #8A8A8A;
                    font-weight: 500;
                    font-size: 12px;
                    padding-top: 5px;
                }
            }
        }
        &-body{
            color: #232323;
            padding-top: 5px;
            &-title {
                font-size: 24px;
                font-weight: bold;
            }
    
            &-content {
                padding-top: 7px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-footer{
            display: flex;
            padding:50px 0 30px 0;
            &-heart:active{
                transform: scale(0.96);
                // width: 200px;
            }
            &-count{
                font-size: 14px;
                font-weight: 500;
                color: #3f3f3f;
                margin-left: 9px;
              }
              &-comments{
                margin-left: 9px;
              }
        }
    }
}