.certtoggle {
  position: absolute;
  z-index: 100;
  right: 20px;
  bottom: 140px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  &-wrapper{
  }
  img {
    width: 20px;
    height: 20px;
  }
  &.off {
    img {
      opacity: 0.3;
    }
  }
}
