.normalCert {
  display: flex;
  height: 63px;
  justify-content: center;
  position: relative;
  width: 56px;
  z-index: 11;
}

.outside-image {
  height: 62px;
  width: 52px;
}

.inside-image {
  border-radius: 100%;
  height: 44px;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-49.5%);
  width: 44px;
}
