.achievement-bottom-sheet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    z-index: 100;
    overflow-y: hidden;

    &-first-line {
        &-title {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 12px;
            color: #3F3F3F;
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    &-second-line {
        margin-top: -30px;
        font-weight: 400;
        font-size: 12px;
        color: #3F3F3F;
    }

    &-third-line {
        // margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 11px;
        color: #3D3D3D;
        text-decoration-line: underline;
        color: #3D3D3D;
        &-all{
            padding-top: 5px;
        }
    }

    &-x{
        position: absolute;
        top:30px;
        right: 20px;
    }
    &-img{
        margin-top: -20px;
        text-align: center;
    }
}