.photo {
  padding: 160px 0 100px 0;
  scrollbar-width: none;
  &-others {
    &-photo {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      margin-top: 15px;
      padding-left: 4%;
      img {
        width: 155px;
        height: 155px;
        margin-right: 12px;
        border-radius: 4px;
      }
    }
    &-divider {
      margin-top: 80px;
      width: 100vw;
      height: 2px;
      background-color: #f2f2f2;
    }
    &-header {
      padding-left: 4%;
      margin-top: 56px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      h5 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
      span {
        font-size: 14px;
        color: #8a8a8a;
        font-weight: 400;
      }
    }
  }
  &-nocert {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      margin: 10px 0;
      font-size: 18px;
      font-weight: 700;
    }
    &-guide {
      display: flex;
      font-size: 16px;
      color: #8a8a8a;
      font-weight: 400;
      &-icon {
        margin: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #212122;
        &-img {
          margin: 0;
          width: 8px;
          height: 8px;
        }
      }
    }
  }
  &-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9;
  }
  &-sort {
    &-option {
      position: absolute;
      width: 100%;
      height: 122px;
      background-color: white;
      border-radius: 8px 8px 0px 0px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 11;
      padding: 20px 0;
      &-item {
        font-size: 16px;
        font-weight: 500;
        height: 50%;
        display: flex;
        align-items: center;
        color: #8a8a8a;
        &.selected {
          font-weight: 600;
          color: black;
        }
      }
      &-devider {
        width: 100%;
        height: 1px;
        background-color: #f2f2f2;
      }
    }
  }
  &-wrapper {
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
    padding: 4% 0;
    // min-height: 100vh;
    &-img {
      width: 32.9%;
      margin: 0 0.2% 0.2%;
    }
  }
  &-history {
    margin: 6%;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    &-select {
      display: flex;
      align-items: center;
      &-all {
        display: flex;
        align-items: center;
        img {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      &-sort {
        display: flex;
        img {
          margin-left: 5px;
        }
      }
      display: flex;
      font-size: 14px;
      font-weight: 400;
      color: #8a8a8a;
    }
  }
  &-category {
    margin: 1rem;
    // min-width: 100%;
    // justify-content: space-around;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 63px;
        height: 63px;
        padding: 1px;
        border-radius: 100%;
        border: 2px solid white;
        &.CA0001.selected {
          border: 2px solid #4a8c48;
        }
        &.CA0002.selected {
          border: 2px solid #8e6947;
        }
        &.CA0003.selected {
          border: 2px solid #ad912b;
        }
        &.CA0004.selected {
          border: 2px solid #328995;
        }
        &.CA0005.selected {
          border: 2px solid #b4588f;
        }
        &.CA0006.selected {
          border: 2px solid #6f4ecf;
        }
        &.CA9999.selected {
          border: 2px solid #474747;
        }
      }
      &.item {
        position: relative;
        margin: 5px;
        width: 69px;
        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  &-select {
    position: relative;
  }
  &-sort {
    position: relative;
    margin: 1rem;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.011em;
    border: none;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  ul {
    position: absolute;
    top: 1rem;
    margin: 1rem;
    width: 8rem;
    padding: 0;
    list-style: none;
    li {
      padding: 0.3rem 0;
      background-color: #f2f2f2;
      text-align: center;
      width: 8rem;
      list-style: none;
    }
  }
}
