@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Spoqa Han Sans Neo';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  input {
    &:focus {
      outline: none;
      // outline: 1px solid blue;
    }
  }

  textarea {
    resize: none;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-text-fill-color: currentColor;
    caret-color: currentColor;
  }
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./common/fonts/SpoqaHanSansNeo-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./common/fonts/SpoqaHanSansNeo-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./common/fonts/SpoqaHanSansNeo-Bold.woff2');
  font-weight: 700;
  font-display: swap;
}
